In [2]:
import mysql.connector
import json

In [3]:
def get_connection():
    return mysql.connector.connect(
        host="nezox2um.beget.tech",
        user="nezox2um_dbl",
        password='OX8tAkhwowXp',
        database='nezox2um_dbl',
    ) 



def execute_query(query, variables):
    conn = get_connection()
    cursor = conn.cursor()
    if variables:
        cursor.execute(query, variables)
    else:
        cursor.execute(query)
    result = cursor.fetchall()
    conn.commit()
    cursor.close()
    conn.close()
    return result

In [4]:
query = """SHOW TABLES;"""
execute_query(query, [])

[]

In [6]:
query = """DROP TABLE Tweets, Users;"""
execute_query(query, [])

[]

In [ ]:
query = """
                INSERT INTO Users(user_id, location, verified, followers_count, friends_count,
                 statuses_count, creation_time, default_profile, default_profile_image)
                VALUES("aboba",
                 "aboba",
                 0,
                 3,
                 3,
                 3,
                 53562455654,
                 0,
                 0);
                """
execute_query(query, [])

In [3]:
query = """Select * from Replies LIMIT 10;"""
execute_query(query, [])

ProgrammingError: 1146 (42S02): Table 'nezox2um_dbl.Replies' doesn't exist

In [ ]:
query = """ CREATE TABLE IF NOT EXISTS Users(
            user_id VARCHAR(255) PRIMARY KEY,
            location VARCHAR(255),
            verified TINYINT NOT NULL,
            followers_count INT NOT NULL,
            friends_count INT NOT NULL,
            statuses_count INT NOT NULL,
            creation_time TIMESTAMP NOT NULL,
            default_profile TINYINT NOT NULL,
            default_profile_image TINYINT NOT NULL            
        );"""
execute_query(query, [])